<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="seznam">
    <a th:each="cards, iterStat : ${card}" href="/detail" th:href="@{/detail(id=${iterStat.index})}">
        <div class="vizitka">
            <div class="jmeno" th:text="${cards.name}">Dita (Přikrylová) Formánková</div>
            <div class="firma" th:text="${cards.company}">Czechitas z. s.</div>
            <div class="udaje">
                <div class="adresa">
                    <div th:text="${cards.street}">Vác</div>
                    <div th:text="${cards.city}"></div>
                </div>
                <div class="kontakty">
                    <div>
                        <i th:if="${cards.email} != null" class="las la-at"></i>
                        <span th:if="${cards.email} != null" th:text="${cards.email}"></span>
                    </div>
                    <div>
                        <i th:if="${cards.phoneNumber} != null" class="las la-phone-alt"></i>
                        <span th:if="${cards.phoneNumber} != null" th:text="${cards.phoneNumber}"></span>
                    </div>
                    <div>
                        <i th:if="${cards.webAddress} != null" class="las la-globe"></i>
                        <span th:if="${cards.webAddress} != null" th:text="${cards.webAddress}"> <i class="las la-globe"></i>Stokorcový les</span>
                    </div>

                </div>
            </div>
        </div>
    </a>
</div>
</body>
</html>
